<script id="modalmarker.html" type="text/ng-template" ng-controller="ModalPostCtrl">

  <ion-modal-view>
    <ion-header-bar class="bar bar-header bar-stable">
      <div class="row">
        <div class="col col-33"><h1 class="title">{{ title }}</h1></div>
        <div class="col col-33 col-offset-33"><i class="icon ion-close-round"></i></div>

      </div>
      
    </ion-header-bar>

    <ion-content>
      <div class="card">
        <div class="item item-text-wrap">
        <div class="row">
          <div class="col">
            <img ng-src="{{ image }}" alt="Modal image" />
          </div>
          <div class="col col-75">
            <p> {{ description }} </p>
          </div>

        </div>
          
          	<button class="button button-block button-positive" ng-click="openPostModal()">{{ button }}</button>
          
        </div>
       </div>
    </ion-content>
     
  </ion-modal-view>

</script>