body {
    padding: 0;
    margin: 0;
}
html, body, #map {
    height: 100%;
}

#map {
	height: 500px;
}

.hidden {
	display: none!important;
}

ion-content {
	background-color: #F2F2F2;
}

card {
	background-color: white;
}